@font-face {
    font-family: 'Montserrat Light';
    font-weight: 100;
    src: url('/fonts/Montserrat-Light.woff');
    format: ('woff');
    font-display: swap;
}
  
@font-face {
    font-family: 'Montserrat Regular';
    font-weight: 400;
    src: url('/fonts/Montserrat-Regular.woff');
    format: ('woff');
    font-display: swap;
}
  
@font-face {
    font-family: 'Montserrat Medium';
    font-weight: 500;
    src: url('/fonts/Montserrat-Medium.woff');
    format: ('woff');
    font-display: swap;
}
  
@font-face {
    font-family: 'Montserrat Bold';
    font-weight: 600;
    src: url('/fonts/Montserrat-Bold.woff');
    format: ('woff');
    font-display: swap;
}
